*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background-image:linear-gradient(10deg, #eeedf4 0%, #f6f7fc 0%);
}
.navContainer{
    width: 100vw;
    /* background-color: rgba(113, 113, 199, 0.852); */
    margin: 10px;

    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image:  linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

nav{
    width: 100%;
    padding-right: 2rem;
}
#navlist{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px ;
    margin-right: 15px; */
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content:space-between;
    
}
#navlogo{
    font-size: 2.8rem;
    color:antiquewhite;
    
}
a{
    text-decoration: none;
    color:#1d087b;
    font-size: 1.8rem;
}
#navitems{
    display: flex;
    gap: 40px;
    
}
.footerbox{
    background-image:  linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); 
    
    width: 100vw;
    text-align: center;
    min-height: 40px;
    margin: 10px;

}
.footerbox p{
    color: #eeedf4;
    font-size: 2rem;
}
.contentbox{
width: 50vw;
height: 82vh;
margin: auto;
/* background-color: #f6f7fc; */
display: flex;
flex-direction: column;
gap: 70px;
box-shadow: 1px 0px 30px black;
padding: 5rem;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s linear;
}
.rightbox img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    /* border: 1px solid black; */
    margin: 5px;
    box-shadow: 1px 0px 2px black;
    transition: all 0.8s linear 0s;
 
}
.rightbox:hover{
    transform: scale(1.1);
}
/* #b1 img{
    height: 300px;
    width: 300px;
    border-radius:10px;
    /* border: 1px solid black; 
    margin: 5px;
    display: flex;
    justify-content:left;
    box-shadow: 1px 0px 2px black;
    transition: all 0.6s linear 0s;


}
#b1 img:hover{
    transform: scale(1.1);
} */
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.leftbox h2{
    font-size: 2rem;
}
.ingbox{
    font-size: 1.3rem;
}
.recbox{
    font-size: 1.1rem ;
}

.ingbox2{
    font-size: 1.3rem;
}
.recbox2{
    font-size: 1.1rem ;
}
.rightbox .overlay {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;   
    background-color: rgba(36,34,34,0.713);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s linear 0s;
}
.rightbox:hover .overlay{
    opacity: 1;
}
.rightbox .overlay span{
    color: #fdfdff;
    font-size: 1.5rem;
    font:bold;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    */
}
